if SHIELD_PMW3610_KEYBALL_LEFT

config ZMK_KEYBOARD_NAME
    default "pmw3610_keyball"

config ZMK_SPLIT_ROLE_CENTRAL
    default y

endif # SHIELD_PMW3610_KEYBALL_LEFT

if SHIELD_PMW3610_KEYBALL_LEFT || SHIELD_PMW3610_KEYBALL_RIGHT

config ZMK_SPLIT
    default y

endif # SHIELD_PMW3610_KEYBALL_LEFT || SHIELD_PMW3610_KEYBALL_RIGHT
